
/**
 * Reset CSS
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
   margin: 0;
   padding: 0;
   border: none;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
 }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, menu, nav, section {
   display: block;
 }
 
 body {
   line-height: 1;
   width:100%;
   height: 100%;
 }
 
 blockquote, q {
   quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: none;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 /* custom */
 a {
   color: #7e8c8d;
   text-decoration: none;
   -webkit-backface-visibility: hidden;
 }
 
 li {
   list-style: none;
 }
 
 ::-webkit-scrollbar {
   width: 5px;
   height: 5px;
 }
 
 ::-webkit-scrollbar-track-piece {
   background-color: rgba(0, 0, 0, 0.2);
   -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:vertical {
   height: 5px;
   background-color: rgba(125, 125, 125, 0.7);
   -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:horizontal {
   width: 5px;
   background-color: rgba(125, 125, 125, 0.7);
   -webkit-border-radius: 6px;
 }
 
 html, body {
   width: 100%;
   height: 100%;
   font-size:16px;
   background: #fff;
 }
 
 body {
   -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 

/* Gobal CSS */
#app {
  height:100%;
}

 /*显示省略号*/
 .ellipsis{ 
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

 .pull-left {
   float: left;
 }

 .pull-right {
   float: right;
 }
 
 // 清除浮动
.clearfix:after{ 
  display:block;
  clear:both;
  content:"";
  height:0;
}

.clearfix{
  zoom:1
}


// 左侧菜单高亮
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
  background-color:#2d8cf0!important;
  color:#fff!important;
}


.wrap {
  width:100%;
  padding:30px;
}

// 表格样式
.ivu-table table {
  font-size:14px;
}


// 弹框样式
.modal {
  font-size:14px;
  .ivu-modal-header p, .ivu-modal-header-inner {
    font-size:16px;
  }
  .ivu-input {
    font-size:14px;
  }
  .ivu-auto-complete.ivu-select.ivu-select-single.ivu-select-default {
    width:80%;
  }
  .ivu-auto-complete.ivu-select.ivu-select-single.ivu-select-default .ivu-input-wrapper{
    width:100%;
  }
  .ivu-form-item-error-tip {
    left:90px;
  }
  .ivu-cascader {
    display: inline-block;
    .ivu-input-wrapper {
      width:100%;
    }
    .ivu-cascader .ivu-cascader-menu-item {
      font-size:14px!important;
    }
  }
  .ivu-input-wrapper {
    width:80%;
  }
  .form {
    padding-left:20px;
  }
  .label {
    font-size:14px;
    width:80px;
    display: inline-block;
  }
  .cityName {
    text-indent:90px;
    font-size:14px;
  }
}


// 分页
.page {
  margin:20px 0;
  float: right;
}

.redFlag {
  color:red;
}

// 图片上传样式
.upload{
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  // border: 1px solid transparent;
  // box-shadow: 0 1px 1px rgba(0,0,0,.2);
  margin-right: 4px;
  // top:40px;
}
.upload img{
  width: 100%;
  height: 100%;
}
.ivu-upload-drag {
  width:100%;
  height:100%;
}

.upload-list-cover{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
.ivu-upload-drag:hover .upload-list-cover{
  display: block;
}
.upload-list-cover i{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}


// 添加商铺表单
.formitem {
  .label {
    font-size:14px;
    width:90px;
    display: inline-block;
  }
  .ivu-input-wrapper {
    width:50%;
  }
  .ivu-select {
    .ivu-input-wrapper {
      width:100%;
    }
    width:50%;
  }
  .ivu-cascader {
    display: inline-block;
    width:30%;
    .ivu-input-wrapper {
      width:100%;
    }
  }
  .ivu-date-picker-rel {
    .ivu-input-wrapper {
      width:100%;
    }
  }
  .ivu-input {
    font-size:14px;
  }
  .cityName {
    text-indent:90px;
    font-size:14px;
  }
}